# API Gateway
PORT=80
GATEWAY_URL=http://localhost:80

# Person Service
PERSON_SERVICE_PORT=5001
MONGO_PERSON_URI=mongodb://localhost:27017/facetrace_person

# Location Service
LOCATION_SERVICE_PORT=5002
MONGO_LOCATION_URI=mongodb://localhost:27018/facetrace_location

# Notification Service
NOTIFICATION_SERVICE_PORT=5003
ULTRAMSG_INSTANCE=instance7517
ULTRAMSG_TOKEN=uf5xnwpeveeinoh9

# AI Service
AI_SERVICE_PORT=8501
